<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>RjochtWurd</title>
    </head>
    <body>
        <h1>RjochtWurd</h1>
        <div id='main-container'>
            <div id='task-panel'>
                <div id='tasks-wrapper'>
                    <div id="task-message">No tasks present.</div>
                </div>
                <div id='toolbar'>
                    <div id='record-button'></div>
                    <div id='upload-button'><input type="file" id="drop-input"></div>
                </div>
            </div>
            <div id="text-area">
                <h1>Orizjineel tekst</h1>
            </div>
        </div>
        <audio id="recordedAudio"></audio>
        
        <script src="{{ url_for('static', filename='script.js') }}" type="text/javascript"></script>
    </body>
</html>
