<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>RjochtWurd</title>
    </head>
    <body>
        <h1>RjochtWurd</h1>
        <div id='main-container'>
            <div id='task-panel'>
                <div id='tasks-wrapper'>
                    <div class='task'></div>
                    <div class='task'></div>
                    <div class='task'></div>
                </div>
                <div id='toolbar'>
                </div>
            </div>
            <div id="text-area">

            </div>
        </div>
    </body>
</html>
